* {
    margin:0;
    padding:0;
}


body {
    text-align:left;
    margin:0;
    padding:0;
    font-family:"Helvetica",sans-serif;
    width:100%;
}


a {
    text-decoration:none;
    color:#6792C9;
}

a:hover {
    text-decoration:underline;
}

.hidden {
    display:none;
}

li.active {
    background-color:#adafb8;
}


#nav-side .active a {
    color:#211F1F;
}

li.active:hover {
    background-color:#adafb8;
}

.ul-title {
    padding-left:30px;
}

#nav-top {
    background-color:lightsteelblue;/*DW Blue*/
    font-size:2em;
    width:100%;
    
}

    #threelines {
	color:white;
	padding-left:15px;
	font-size:1em;
	display:inline-block;
    }

    #threelines:hover{
	cursor:pointer;
	color:#D9DADE;
    }

    #nav-top img {
	display:inline-block;
	margin:auto;
	/*width:28px;
	height:28px;*/
    }


    
#nav-side {
    background-color:#eeeeee;
    width:200px;
    height:100vh;
    padding: 15px 0px 0px 0px;
    font-size:1em;
    float:left;

}

    #nav-side img{
	max-width:150px;
	margin:auto;
	display:block;
    }

    #nav-side ul {
	list-style-type: none;
	width:170px;
	padding-top:60px;
	
    }


    #nav-side li {
	    width:100%;
	    padding:10px 0px 10px 30px;
	    display:block;    
	}

        li:hover{
	    background-color:#D9DADE;
	}

	    #nav-side li a {
		display:block;
		color: #585B5C;/*#8C8D91;*/
	    }

	    #nav-side li a:hover {
		text-decoration:none;
	    }
	    
 
	    
.main {
    overflow:auto;
    height:100%;
}
