.gtable {
    border-spacing:60px;
    margin:0 auto;
}

.gtable td {
    position:relative;
    text-shadow: 1px 1px 1px #000000;
    font-family:"Trebuchet MS", Helvetica, sans-serif;
}

.thumbnail img {
    min-width:100px;

    /* image resizes with window */
    width: 100%;
    height: auto;
    margin:auto;
}

div.thumbnail {
     vertical-align: top;
     position:relative;
     display: inline-block;
     margin:3% 0 3% 6%;

     text-shadow: 1px 1px 1px #000000;
     font-family:"Trebuchet MS", Helvetica, sans-serif;
     text-align: center;

 }

.imgTitle {
    /* div position */
    position: absolute;
    top: 50%;
    bottom: 0;
    left: 0;
    right: 0;
    color:white;
    
    /* text position */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    /* visibility */
    visibility: hidden;
    opacity: 0;
   
}


div.thumbnail:hover .imgTitle {
    background: rgba(0, 0, 0, 0.3);
    /* make title visible */
    visibility:visible;
    opacity:1;

    /* gradient background */
    background: -moz-linear-gradient(rgba(0,0,0,0) 10%, rgba(0,0,0,1) 56%, rgba(0,0,0,1) 100%);
    background: -webkit-gradient(linear, color-stop(0%,rgba(0,0,0,0)), color-stop(56%,rgba(0,0,0,1)), color-stop(100%,rgba(0,0,0,1)));
    background: -webkit-linear-gradient( rgba(0,0,0,0) 10%,rgba(0,0,0,1) 56%,rgba(0,0,0,1) 100%);
    background: -o-linear-gradient( rgba(0,0,0,0) 0%,rgba(0,0,0,1) 56%,rgba(0,0,0,1) 100%);
    background: -ms-linear-gradient( rgba(0,0,0,0) 0%,rgba(0,0,0,1) 56%,rgba(0,0,0,1) 100%);
    background: linear-gradient(rgba(0,0,0,0) 0%,rgba(0,0,0,.8) 50%,rgba(0,0,0,1) 100%);

    cursor:pointer;
}


.gtable td:hover .imgTitle {
    background: rgba(0, 0, 0, 0.3);
    /* make title visible */
    visibility:visible;
    opacity:1;

    /* gradient background */
    background: -moz-linear-gradient(rgba(0,0,0,0) 10%, rgba(0,0,0,1) 56%, rgba(0,0,0,1) 100%);
    background: -webkit-gradient(linear, color-stop(0%,rgba(0,0,0,0)), color-stop(56%,rgba(0,0,0,1)), color-stop(100%,rgba(0,0,0,1)));
    background: -webkit-linear-gradient( rgba(0,0,0,0) 10%,rgba(0,0,0,1) 56%,rgba(0,0,0,1) 100%);
    background: -o-linear-gradient( rgba(0,0,0,0) 0%,rgba(0,0,0,1) 56%,rgba(0,0,0,1) 100%);
    background: -ms-linear-gradient( rgba(0,0,0,0) 0%,rgba(0,0,0,1) 56%,rgba(0,0,0,1) 100%);
    background: linear-gradient(rgba(0,0,0,0) 0%,rgba(0,0,0,.8) 50%,rgba(0,0,0,1) 100%);

    cursor:pointer;
}









.gradientBox {
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /*
    visibility: hidden;
    opacity: 0;
   */
    
}

#currentImg {
    position:absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;	
    z-index:100;

    max-width:70%;
    max-height:70%;
    height:auto;
    width:auto;
   
}


.infoPanel {
    height:40px;
    width:100%;
    background-color:lightsteelblue;
    color:black;
    display:table;
    line-height: 40px;
    font-size:1.5em;

}

#name {
    padding: 0px 0px 0px 100px;
    float: left;
}

.bttnWrap {
    display:table-cell;
    vertical-align:middle;
    padding: 0px 100px 0px 0px;
    height:40px;
   
}
#code {
    height:100%;
    padding: 0px 10px 0px 10px;
    vertical-align: middle;
    font-size:1em;
    display: block;
    float: right;

    background-color:lightsteelblue;   
    color:black;
    border:1px solid #eeeeee;
    border-radius:5px;


}

#code:hover {
    cursor:pointer;
    background-color:white;
}


span.arrow {
    color:white;
    font-size:3em;
    padding:20px;
    display: block;
    margin-top: -40px;
    
    position: absolute;
   
    top: 50%;
}

span.arrow:hover {
    cursor:pointer;
}

#leftA {
    right:90%;
}

#rightA {
    left:90%;
}

