<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <div class="nav-top">
      <div class="nav-contents">
	<a herf="/home">Home</a>
	<div class="search-div">
	  <form>
	    <input type="text" name="search" placeholder="Search">
	    <input type="submit" value="&#128269;";
	  </form>
	</div>
      </div>
    </div>
    <div>
      <ul class="nav-side">
	{% for page in galleries %}
	<li><a href ="/{{ page }}">{{ page }}</a></li>
	{% endfor %}
      </ul>
    </div>
    {% block contents %}{% endblock %}
  </body>
</html>
