{% extends "base.html" %}
{% block head %}
<title>{{ cgallery }}</title>
{% endblock %}

{% block contents %}
<div class="thumbs">
  <div>
  <div class="thumbnail">
    <img src="../static/images/goat.jpg" title="goat">
    <div class="imgTitle">Look a goat!</div>
  </div>
  <div class="thumbnail">
    <img src="../static/images/goat.jpg">
    <div class="imgTitle">And another one! </div>
  </div>
  <div class="thumbnail">
    <img src="../static/images/goat.jpg">
    <div class="imgTitle">What if they have a really long name? </div>
  </div>

  <div class="thumbnail">
    <img src="../static/images/goat.jpg">
    <div class="imgTitle">Vigilant Disco </div>
  </div>
  <div class="thumbnail">
    <img src="../static/images/goat.jpg">
    <div class="imgTitle">Testy Test Test </div>
  </div>
  <div class="thumbnail">
    <img src="../static/images/goat.jpg">
    <div class="imgTitle">Wooo Graphicss</div>
  </div>

  <div class="thumbnail">
    <img src="../static/images/goat.jpg">
  </div>
  <div class="thumbnail">
    <img src="../static/images/goat.jpg">
  </div>
  <div class="thumbnail">
    <img src="../static/images/goat.jpg">
  </div>
  </div>
</div>

<!-- gradientBox is inherited from base.html -->
{% endblock %}
{% block scripts %}
<script src="../static/js/gallery.js"></script>
{% endblock %}
