{% extends "base.html" %}
{% block head %}
<title>{{ cgallery }}</title>
<link rel="stylesheet" type="text/css" href="../static/css/gallery.css" />
{% endblock %}

{% block contents %}

<style>

 div.thumbnail {
     vertical-align: top;
     display: inline-block;
     /* To horizontally center images and caption */
     text-align: center;
     padding:3% 0 3% 6%;
 }
</style>

  <div class="thumbnail">
    <img src="../static/images/goat.jpg" title="goat">
    <div class="imgTitle">Look a goat!</div>
  </div>
  <div class="thumbnail">
    <img src="../static/images/goat.jpg">
    <div class="imgTitle">And another one! </div>
  </div>
  <div class="thumbnail">
    <img src="../static/images/goat.jpg">
    <div class="imgTitle">What if they have a really long name? </div>
  </div>

  <div class="thumbnail">
    <img src="../static/images/goat.jpg">
    <div class="imgTitle">Vigilant Disco </div>
  </div>
  <div class="thumbnail">
    <img src="../static/images/goat.jpg">
    <div class="imgTitle">Testy Test Test </div>
  </div>
  <div class="thumbnail">
    <img src="../static/images/goat.jpg">
    <div class="imgTitle">Wooo Graphicss</div>
  </div>

  <div class="thumbnail">
    <img src="../static/images/goat.jpg">
  </div>
  <div class="thumbnail">
    <img src="../static/images/goat.jpg">
  </div>
  <div class="thumbnail">
    <img src="../static/images/goat.jpg">
  </div>



{% endblock %}
{% block scripts %}
<script src="../static/js/gallery.js"></script>
{% endblock %}
