{% extends "base.html" %}
{% block head %}
<title>Home</title>
<link rel="stylesheet" type="text/css" href="../static/css/gallery.css" />
{% endblock %}

{% block contents %}
<!-- <img src="../static/images/goat.jpg">-->
<table class="gtable">
  <tr>
    <td>
      <img src="../static/images/goat.jpg" title="goat">
      <div class="imgTitle">Look a goat!</div>
    </td>
    <td>
      <img src="../static/images/goat.jpg">
      <div class="imgTitle">And another one! </div>
    </td>
    <td>
      <img src="../static/images/goat.jpg">
      <div class="imgTitle">What if they have a really long name? </div>
    </td>
  </tr>

  <tr>
    <td>
      <img src="../static/images/goat.jpg">
      <div class="imgTitle">Vigilant Disco </div>
    </td>
    <td>
      <img src="../static/images/goat.jpg">
      <div class="imgTitle">Testy Test Test </div>
    </td>
    <td>
      <img src="../static/images/goat.jpg">
      <div class="imgTitle">Wooo Graphicss</div>
    </td>
  </tr>

  <tr>
    <td>
      <img src="../static/images/goat.jpg">
    </td>
    <td>
      <img src="../static/images/goat.jpg">
    </td>
    <td>
      <img src="../static/images/goat.jpg">
    </td>
  </tr>

</table>

<div class="gradientBox"">
  <div class="contents">
    <div class="imgWrap">
      
      <img id="currentImg" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cb/Planets2013.svg/2000px-Planets2013.svg.png"/>
      
      <div class="infoPanel">
	<span id="name">Solar System</span>
	<div class="bttnWrap">
	  <button id="code">View Code</button>
	</div>
      </div>
    
    </div>

  <span id="leftA" class="arrow">&#10096;</span>
  <span id="rightA" class="arrow">&#10097;</span>

  </div>
</div>


<!-- The script below is TEMPORARY. 
     Delete it after proper 
     functionality exits in gallery.js -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<script>
 //TEMPORARY
 //part of onclick function for slideshow view
 $(".gradientBox").click(function(e){
     //this makes all the expanded image stuff disapear
     $(this).css("visibility","hidden");
     //to make it reapear
     //visibility: visible;

     //to change image $(#currentImg).attr("src","NEWIMAGE");
     //to change image name, edit inner html of $(#name)
     //to change where view code button leads, write click function for $(#code) 
 });
 
//makes sure click function doesn't apply to div children
 $(".gradientBox > .contents").click(function(e){
     e.stopPropagation();
 });
     
</script>

 {% endblock %}

{% block scripts %}
<script src="../static/js/gallery.js"></script>
{% endblock %}
