{% extends "base.html" %}
{% block head %}
<title>Home</title>
<link rel="stylesheet" type="text/css" href="../static/css/gallery.css" />
{% endblock %}

{% block contents %}
<!-- <img src="../static/images/goat.jpg">-->
 <center><table class="gtable">
  <tr>
    <td>
      <img src="../static/images/goat.jpg" title="goat">
     <div class="imgTitle">Daisy Barbanel</div>
    </td>
    <td>
      <img src="../static/images/goat.jpg">
    </td>
    <td>
      <img src="../static/images/goat.jpg">
    </td>
  </tr>

  <tr>
    <td>
      <img src="../static/images/goat.jpg">
    </td>
    <td>
      <img src="../static/images/goat.jpg">
    </td>
    <td>
      <img src="../static/images/goat.jpg">
    </td>
  </tr>

  <tr>
    <td>
      <img src="../static/images/goat.jpg">
    </td>
    <td>
      <img src="../static/images/goat.jpg">
    </td>
    <td>
      <img src="../static/images/goat.jpg">
    </td>
  </tr>

 </table></center>

{% endblock %}

{% block scripts %}
<script src="../static/js/gallery.js"></script>
{% endblock %}
